
.center{
  text-align:center;
}

.justify{
    text-align:justify;
    text-justify:auto;
    margin-left: 7px;
    margin-right: 7px;
}

.text-style{
  font-family: 'Source Sans Pro', sans-serif;
}

.fontbold{
  font-family: 'Cormorant Garamond', serif;
  font-weight: bold;
  color:black;
}

hr {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: 10%;
  margin-right: 10%;
  border-style: groove;
  border-width: 1px;
}

.navbar-brand{
  font-size: 150%;
  font-family: 'Cormorant Garamond', serif;
  color:black;
  margin-left: -3%;
}

.nav-link{
  font-family: 'Cormorant Garamond', serif;
  font-size: 20px;
}


@media screen and (min-width: 1000px){
  .blog-margin{
      padding-right:30%;
      width:70%;
    }
}
.blog-margin{
    width:95%;
  }

#sidebar{
  float: left;
  width:25%;
  border-style: ridge;
  box-sizing:border-box;
}


#content{
    float:right;
    margin-left:5%;
    width: 70%;
    font-family: 'Source Sans Pro', sans-serif;
}

#column-right{
    float: left;
    width:30%;
    margin-left:5%;
}

#column-left{
    float:left;
    width:55%;
    margin-right:5%
}
