{% extends "base.html" %}
{% load static %}
{% block main_content %}
<!--sidebar--->
<div id = "sidebar">
  <div class="center">
    <a  href="#" target="_blank"><img src="{% static "images/twitterlogo.png" %}" alt="Twitter" style="width:40px;height:40px;"></a>
    <a  href="#" target="_blank"><img src="{% static "images/githublogo.png" %}" alt="Github"  style="width:25px;height:25px;margin:13px" ></a>
    <a  href="#" target="_blank"><img src="{% static "images/linkedinlogo.png" %}" alt = "LinkedIn" style = "width:25px;height:25px;margin:13px"></a>
  </div>

  <div class="justify text-style">
    <h5 class = "center fontbold">Container For Additional Content</h5>
    {% include "blog/_freshthought.html" %}
  </div>
</div>

<div id="content">
{% block blog_content %}

{% endblock %}
</div>
{%endblock%}
