<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!-- Google Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond&display=swap" rel="stylesheet">
    <!-- jQuery -->
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    <!--Medium Editor from https://github.com/yabwe/medium-editor -->
    <script src="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/js/medium-editor.min.js"></script>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/css/medium-editor.min.css" type="text/css" media="screen" charset="utf-8">
    <!-- Custom CSS-->
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <title>Brian VandenAkker</title>
  </head>
  <body>
    <!-- Header -->
    <nav class="navbar navbar-expand-md navbar-light bg-light">
      <a class="navbar-brand center" href="{% url 'blog:post_list' %}">Brian VandenAkker</a>
      {% if user.is_authenticated %}
      <div>
        <ul class="nav navbar-nav navbar-right">
          <li class="nav-item">
            <a class = "nav-link" href="#">New Project</a>
          </li>
        </ul>
      </div>
    </nav>

    <!-- Content -->
    <div class="container">
      {% block main_content%}
      {% endblock %}
    </div>
  </body>


  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

  </html>
